body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    height: auto;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
        position:absolute;
        left:25%;
        right:4%;
        top:10%;
        height: 30px;
        background-color: rgb(0, 250, 250);  
      }
    

nav{
    display: flex;
    justify-content:space-around;
    font-family:'monospace';
}

nav a{
    text-decoration: none;
    color: rgb(15, 15, 15);
    margin: 5px;
   }
 #intro {
    font-size: 2em;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 7s steps(30, end) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
#about p{
    font-family:comic Courier New, Courier, monospace;
    letter-spacing: 0.3px;
    line-height: 20px;

}
#badge a{
    text-decoration: none;
}
#skill img{
    height:800px;
    width: 900px;
}
#imgs{
    position:relative;
    left: 1px;
}
.images{
    opacity:0.70;
    
}
section{
    color: white;
    padding: 20px;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 250, 250);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;

}

#skilltable tr td li:hover{
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgb(0, 250, 250);
    letter-spacing: 0.2rem;
    transform: scale(1.1);
}

.project:hover{
    box-shadow: 0 2px 10px rgb(0, 250, 250);
  
    
}
.project div h3:hover{
    color: aqua;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgb(0, 250, 250);
    letter-spacing: 0.2rem;
    transform: scale(1.1);

}

#pr1:hover {
    color: aqua;
    margin: 5px;
    padding: 5px;
    transform: scale(1.5);
 }
.project img{
    height: 400px;
    width: 400px;
}
#project a{
    text-decoration: none;
    color: white;
}
#contact a{
    text-decoration: none;
    color: white;
}
.contact_logo img{
    height:80px;
    width: 80px;
}
.contact_logo img:hover{
    transform: scale(1.1);
}
button{
    color: rgb(5, 2, 2);
   background: rgb(0, 250, 250);
   border-radius: 10px;
   
}
button:hover{
   box-shadow: 0 0 30px rgb(0, 250, 250);
    letter-spacing: 0.2rem;
    transform: scale(1.1);
    background-color: rgb(8, 10, 12);
    color: rgb(0, 250, 250);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #090f16;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}
#skillimg{
    position: absolute;
    right:2px;
    top:350px;
}
